
body
{
font-family: 'Josefin Sans', sans-serif;
background-color: black;
}


.text{
padding: 4%;
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 40%;
        right: 0;
        top: 20%;
        text-align: right;
        width: 60%; 
            }
.text h1
{
font-weight: bold;
font-size: 400%;
text-decoration: underline;
text-decoration-color: teal;
text-underline-position: under;
text-height:150%;
}
.text h3
{
font-size: 180%;
text-height:150%;
color: whitesmoke;
}

.links
{
padding:1%;
margin: 1%;
}
.links a
{
padding: 1%;
margin: 1%;
font-size: 120%;
text-decoration:none;
color: grey;
transition: border-width 0.6s linear;
transition: border-color 0.6s linear;
border-bottom: 1px solid transparent;
}


.links a:hover{
cursor:pointer;
color: white;
border-width: 2px;
border-color: teal;
}

#education
{
margin: 1%;
padding: 1%;
color: black;
display: flex;
flex-direction:row;
justify-content: space-around;
}

#education .card
{
width: 30%;
margin: 1%;
padding: 1%;
text-align: center;
background-color: rgba(255, 255, 255);
}
#education .card h3
{
font-weight: bold;
}
#education .card h3:hover
{
font-weight: bold;
}
#education .card:hover
{
cursor: pointer;
background-color: teal;
color: white;
}
#skills
{
padding: 4%;
margin: 4%;
}
#skills td{
width: 50%;
text-align: center;
font-size: 150%;
color: white;
padding: 1%;
margin: 1%;
}

#skills td i{
font-size: 200%;
}

#interests
{
display: flex;
flex-direction: row;
justify-content: space-around;
}
#interests .card{
width: 20%;
text-align: center;
color: white;
padding: 1%;
margin: 1%;
}

#internships td
{
padding: 1%;
width: 50%;
font-size: 150%;
color: white;
text-align: center;
}

#internships td img
{
padding: 1%;
}
#contact
{
padding: 1%;
background-color: teal;
}
#contact td
{
padding: 1%;
width: 20%;
font-size: 100%;
color: white;
text-align: center;
}

#contact td a
{
text-decoration: none;
}

#contact i
{
padding: 1%;
width: 20%;
font-size: 400%;
color: white;
text-align: center;
}


































.projects
{
margin:1%;
padding:1%;
background-color: teal;
}

.projects .card
{
padding:1%;
display: flex;
flex-direction: column;
}

.projects .card .text-down
{
color: white;
width: 100%;
padding:1%;
display: flex;
flex-direction: column;
text-align: center;
}

.projects .card .text-down a
{
text-decoration: none;
font-weight: bold;
color: turquoise;
padding:1%;
}

.projects .card .text-down h1
{
font-size: 200%;
font-weight: bold;
color: white;
padding:1%;
}





.projects .card img
{
width: 100%;
margin:1%;
border: 5px solid white;
}

.projects .card .git
{
height: inherit;
display:flex;
flex-direction:column;
justify-content: space-around;
margin:1%;
padding-top: 14%;
padding-bottom: 15%;
border-radius: 2%;
background-color:white;
text-align: center;
backface-visibility: hidden;
}

.projects .card .git:hover
{
opacity: 0.3;
}

.projects .card .overlay
{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}


.projects .card .overlay .text
{
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.projects .card .overlay:hover
{
  bottom: 0;
  height: 100%;
}


.projects .card .stack
{
display:flex;
flex-direction:column;
justify-content: space-around;
height: 100%;
margin:1%;
padding-top: 14%;
padding-bottom: 15%;
border-radius: 2%;
background-color:white;
text-align: center;
}

.projects .card .stack:hover
{
opacity: 20%;
cursor: pointer;
transition: .5s ease;
}

.projects .card .stack table td
{
padding:1%;
font-size: 200%;
height: inherit;
}

.projects .card .git h1
{
font-weight: bold;
border-bottom: 2px solid teal;
text-align: center;
}



